body {
    background-color: #273746;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Martian Mono, sans-serif;
    list-style: none;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 32px;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 300;
}

.navbar{
    position: relative;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #F4FDFF;
    font-weight: 200;
    text-decoration: none;
    margin-left: 40px;

}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #F4FDFF;
    transition: .5s;
}

.navbar a:hover::before {
    width: 100%;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 20px;
}

.home-content {
    max-width: 630px;
}

.home content h1{
    position: relative;
    font-size: 45px;
    line-height: 1.2;
    font-family: Victor Mono;
    color: white;
    display: flex;
}
