@page
@model Chillin.Pages.IndexModel
@{
}

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JustAChillinWebsite</title> @*title*@

    <link rel="stylesheet" href="css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800&family=Victor+Mono:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
   
    </head>
    <body>
        <header class="header">

            <a href="/Index" class="logo">Chillin'</a>

            <nav class="navbar"> @*navigation bar*@
                <a href="/Index">Home</a>
                <a href="/#">Craving</a>
                <a href="/#">Music</a>
                <a href="/#">Game</a>
                <a href="/#">About Us</a>
            </nav>
        <button class="navbar-toggle" onclick="toggleNavbar()">☰</button>
        <script>
            function toggleNavbar() {
                var navbar = document.querySelector('.navbar');
                navbar.classList.toggle('active');
            }

            window.addEventListener('resize', updateButtonVisibility);
            window.addEventListener('DOMContentLoaded', updateButtonVisibility); 

            function updateButtonVisibility() {
                var navbar = document.querySelector('.navbar');
                var isNavbarActive = navbar.classList.contains('active');
                var shouldShowButton = window.innerWidth <= 825;

                document.querySelector('.navbar-toggle').style.display = shouldShowButton ? 'block' : 'none';

                if (shouldShowButton) {
                    if (isNavbarActive) {
                        navbar.classList.remove('active');
                    }
                } else {
                    navbar.classList.remove('active');
                }
            }
        </script>

        </header>

        <section class="home">
            <div class="home-content">
                <h1>Hi i am fucking gay!</h1>
            </div>
        </section>
    </body>
</html>